.showResults {
  color: darkblue;
  font-size: 1rem;
  border: 5px solid darkgray;
  border-radius: 5px;
  padding: 1rem;
  background-color:ghostwhite;
  max-height: 50vh;
  overflow:auto;
}

.showButton {
  margin-bottom: 2rem;
}

.history-results {
  margin: auto;
  color: navy;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.history-results li {
  margin-bottom: 1rem;
  border-bottom: 3px double transparent;
}

.history-results li:hover {
  cursor: pointer;
  color: deeppink;
  border-bottom: 3px double dodgerblue;
}

button {
  width: 75%;
  margin: auto;
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
  background: hotpink;
  color: honeydew;
}