$backgroundColor: #efefef;
$radius: 40%;


form {
  display: flex;
  flex-direction: column;
  margin: auto;

  label {
    display: flex;
    margin: 1rem 0;

    &.methods {
      span {
        width: 100%;
        cursor: pointer;
        margin-right: 1rem;
        margin-left: 1rem;
        padding: .25rem .5rem;
        background:dodgerblue;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-radius: 5px;

        &:hover, &.active {
          background: hotpink;
          color: honeydew;
        }
      }
    }
  }
}

#input button {
  color: red;
  margin-left: 20px;
  padding: .25rem .5rem;
}

#input button:hover {
  cursor: pointer;
  background: hotpink;
  color: honeydew;
} 

#input span {
  color: red;
  margin-right: 10px;
}

.hidden {
  visibility: hidden;
}
