$background-color: azure;
$text-color: crimson;


@mixin theme($background: dodgerblue) {
  background-color: $background-color;
  color: $text-color;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: $background-color;
  height: 100%;

  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
  }

  footer {
    background: darken($background-color, 50);
    border-top: 1px solid #eee;
    padding: 1em 3em;
    margin: 0;
  }

  header {
    background: darken($background-color, 50);
    border-bottom: 1px solid #eee;
    color: #eee;
    padding: 0;
    margin: 0;
    text-align: center;
  }
}

section {
  display: flex;
  flex-direction: column;
  margin: auto;
}

section div {
  padding: 1rem;
  font-size: 1.5rem;
}

.showParams {
  color: darkblue;
  font-size: 1.25rem;
  border: 5px solid darkgray;
  border-radius: 5px;
  padding: 1rem;
  background-color:ghostwhite;
  margin-top: 2rem;
  margin-bottom: 2rem;
}